* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}
body{
    font-family:Arial, Helvetica, sans-serif;
}


header{ 
    background-color:rgb(161, 19, 19);
    color:#fff;
    display:flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 30px;
    align-items: center;
}
section{
    background-color:rgba(189, 138, 28, 0.333);
    padding: 80px ;
}