@charset "UTF-8";

*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image:linear-gradient(90deg ,#306F91,#335466);
}

main{
    background-color:#fff;
    width:1500px;
    padding:20px;
    margin:auto;
    border-radius:20px;
    box-shadow: 5px 6px 7px #28353ca9
}

h1{
    color:#0195E6;
    text-align:center;
    text-shadow:#0196e698
    
}

h2{
    color: #1F84BB;
}
p{
    text-align:justify;

}