@charset "UTF-8";

*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image:linear-gradient(90deg, #6b2737,#f45b69)
}

main{
    background-color:#dacfb9;
    padding:20px;
    width:1500px;
    border-radius:20px;
    box-shadow:5px 6px 7px #9d627d;
    margin:auto;
}

h1{
    color:#2b5a78 ;
    text-align:center;
    text-shadow:#13546991
}

h2{
    color: #456990;
}

p{
    text-align:justify;
}