
P{
    font-family:Libre Baskerville;
    font-size: 2em;
    font-weight: lighter;
    font-style: italic;
}

h1{
    font-family: Playwrite DE Grund Guides;
    font-style: italic;
    font-weight: bolder;
}

h2{
    font-family: Gravitas One ;
    font-style: italic;
    font-weight: lighter;
}