@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/

}

body{
    background-image: linear-gradient(to right,#8C6E37 ,#D9AE5F );
}

main{background-color: #fff;
    width: 700px; ;
    padding: 10px;
    box-shadow: 5px 5px 15px #262417;
    border-radius: 20px;
    margin: auto;
}

h1{color:#592C1C ;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(89, 44, 28, 0.76);

}

h2{
    color:#8C634A ;

}

p{
    text-align: justify;
}